<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">

   <event name="sales_order_invoice_save_after">
       <observer name="magentomaster_marketplace_observer_updatesellerorder" instance="Magentomaster\Marketplace\Observer\Updatesellerorder" />
   </event>

   <event name="sales_order_shipment_save_after">
       <observer name="magentomaster_marketplace_observer_updatesellerorder" instance="Magentomaster\Marketplace\Observer\Updatesellerorder" />
   </event>

   <event name="marketplace_order_refund">
       <observer name="magentomaster_marketplace_observer_updatesellerorder" instance="Magentomaster\Marketplace\Observer\Updatesellerorder" />
   </event>

</config>