<!--@subject {{trans "Your request for becomming seller has been submitted successfully"}} @-->
<!--@vars {
"var name":"Test",
"var message_2":"Custom Message 2"
} @-->
 
{{template config_path="design/email/header_template"}}
 
<table>
    <tr class="email-info">
         <td>
            <h1>{{trans "Your request has been submitted.Our customer executive will contact you. This is order email"}}</h1>
        </td>
    </tr>
    <tr class="information">
        <tr>Your Inforamtion as below</tr>
        <tr>Name {{var name }}</tr>
        <tr>Phone No {{var phoneno }}</tr>
    </tr>
</table>
 
{{template config_path="design/email/footer_template"}}